<html>
    <head>
        <meta charset="utf-8">
        <meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="styles.css"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.prod.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.umd.prod.js" defer></script>
        <script src="app.js" defer></script>
    </head>
    <!-- This is where you want to replace with your audio -->

    <audio autoplay loop id="audio" src="/assets/audio/noncopyright.mp3"></audio>

    <body>
        <div id="loading-main" style="min-height: auto;">

            <!-- Uncomment q-parallax and comment out q-carousel if you want to use a video background instead -->

            <q-carousel animated v-model="firstslide" :autoplay="secondap" ref="carousel" infinite>
                <q-carousel-slide :name="1" img-src="/assets/images/1.png"></q-carousel-slide>
                <q-carousel-slide :name="2" img-src="/assets/images/2.png"></q-carousel-slide>
                <q-carousel-slide :name="3" img-src="/assets/images/3.png"></q-carousel-slide>
                <q-carousel-slide :name="4" img-src="/assets/images/4.png"></q-carousel-slide>
            </q-carousel>

            <!-- This is where you want to replace with your video -->

            <!--
            <q-parallax :height="1080">
                <template v-slot:media>
                    <video id="video" width="1920" height="1080" autoplay loop muted>
                    <source type="video/mp4" src="/assets/video/freestockvideo.mp4"></video>
                </template>
            </q-parallax>
            -->

            <div class="absolute-top q-pa-xl">
                <q-card flat style="width: auto; background: transparent;">
                    <q-card-section class="row items-center no-wrap">
                        <q-carousel animated infinite :autoplay="secondap" v-model="secondslide" transition-next="fade" transition-prev="fade" class="bg-transparent text-white">
                            <q-carousel-slide name="1" class="column no-wrap flex-center">
                                <div style="width: 30vw; white-space: pre-wrap;" class="text-left text-h6">
                                    {{ CarouselText1 }}
                                </div>
                                <div style="opacity: 0.9; width: 30vw; white-space: pre-wrap;" class="text-left text-body1">
                                    {{ CarouselSubText1 }}
                                </div>
                            </q-carousel-slide>
                            <q-carousel-slide name="2" class="column no-wrap flex-center">
                                <div style="width: 30vw; white-space: pre-wrap;" class="text-left text-h6">
                                    {{ CarouselText2 }}
                                </div>
                                <div style="opacity: 0.9; width: 30vw; white-space: pre-wrap;" class="text-left text-body1">
                                    {{ CarouselSubText2 }}
                                </div>
                            </q-carousel-slide>
                            <q-carousel-slide name="3" class="column no-wrap flex-center">
                                <div style="width: 30vw; white-space: pre-wrap;" class="text-left text-h6">
                                    {{ CarouselText3 }}
                                </div>
                                <div style="opacity: 0.9; width: 30vw; white-space: pre-wrap;" class="text-left text-body1">
                                    {{ CarouselSubText3 }}
                                </div>
                            </q-carousel-slide>
                            <q-carousel-slide name="4" class="column no-wrap flex-center">
                                <div style="width: 30vw; white-space: pre-wrap;" class="text-left text-h6">
                                    {{ CarouselText4 }}
                                </div>
                                <div style="opacity: 0.9; width: 30vw; white-space: pre-wrap;" class="text-left text-body1">
                                    {{ CarouselSubText4 }}
                                </div>
                            </q-carousel-slide>
                        </q-carousel>
                        <q-space></q-space>
                        <q-carousel animated style="width: 28vw;" infinite :autoplay="thirdap" v-model="thirdslide" transition-next="fade" transition-prev="fade" control-color="white" arrows padding class="bg-transparent text-white">
                            <q-carousel-slide name="5" class="column no-wrap flex-center">
                                <div style="width: 30vw; white-space: pre-wrap;" class="text-weight-regular text-center text-body1">
                                    {{ KeybindTitle }}
                                </div>
                                <div class="q-mt-md text-center">
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img style="width: 60px!important;" src="/assets/keybinds/TAB.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind1 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img src="/assets/keybinds/Tilde.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind2 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img src="/assets/keybinds/M.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind3 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img src="/assets/keybinds/B.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind4 }}
                                        </div>
                                    </q-btn>
                                    <br>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img style="width: 60px!important;" src="/assets/keybinds/LALT.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind5 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img src="/assets/keybinds/F1.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind6 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img src="/assets/keybinds/I.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind7 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img style="width: 60px!important;" src="/assets/keybinds/LALT.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind8 }}
                                        </div>
                                    </q-btn>
                                </div>
                            </q-carousel-slide>
                            <q-carousel-slide name="6" class="column no-wrap flex-center">
                                <div style="width: 30vw; white-space: pre-wrap;" class="text-weight-regular text-center text-body1">
                                    {{ KeybindTitle }}
                                </div>
                                <div class="q-mt-md text-center">
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img src="/assets/keybinds/L.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind10 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img src="/assets/keybinds/G.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind11 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img src="/assets/keybinds/B.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind12 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img style="width: 60px!important;" src="/assets/keybinds/HOME.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind9 }}
                                        </div>
                                    </q-btn>
                                    <br>
                                        <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img style="width: 60px!important;" src="/assets/keybinds/Z.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind13 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img style="width: 60px!important;" src="/assets/keybinds/X.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind14 }}
                                        </div>
                                    </q-btn>
                                    <q-btn :ripple="false" flat stack><q-avatar square size="33px"><img style="width: 60px!important;" src="/assets/keybinds/NUM.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind15 }}
                                        </div>
                                    </q-btn>
                                    <q-btn active-class="remove-active" :ripple="false" flat stack><q-avatar square size="33px"><img style="width: 60px!important;" src="/assets/keybinds/Y.svg"></q-avatar>
                                        <div style="font-size: 10px;">
                                            {{ Keybind16 }}
                                        </div>
                                    </q-btn>
                                </div>
                            </q-carousel-slide>
                        </q-carousel>
                    </q-card-section>
                </q-card>
            </div>

            <div class="absolute-bottom q-pa-xl">
                <q-card flat style="width: auto; background: transparent;">
                    <q-card-section class="row items-center no-wrap">

                        <!-- This is where you want to replace with your logo -->

                        <img class="cursor-none brand-logo" src="/assets/branding/qbcore.svg"></img>
                        <q-space></q-space>
                        <q-btn :ripple="false" flat size="xl" icon="downloading" color="white" @click="download = true"></q-btn>
                        <div class="loadingbar">
                            <div class="loadbar"><div class="thingy"></div></div>
                        </div>
                        <q-btn icon="settings_suggest" color="bgbutton" @click="settings = true"></q-btn>
                    </q-card-section>
                </q-card>
            </div>

            <q-dialog no-shake v-model="download" position="bottom">
                <q-card style="max-width: 400px; margin-left: 50vw; margin-bottom: 13vh;">
                    <q-card-section>
                        <div style="white-space: pre-wrap;" class="text-h6">
                            {{ DownloadTitle }}
                        </div>
                    </q-card-section>

                    <q-card-section style="white-space: pre-wrap;" class="q-pt-none text-weight-bold">
                        {{ DownloadDesc }}
                    </q-card-section>

                    <q-card-actions align="left">
                        <q-btn flat label="Hide details" color="detailbutton" v-close-popup></q-btn>
                    </q-card-actions>
                </q-card>
            </q-dialog>

            <q-dialog no-shake v-model="settings" position="right">
                <q-card style="max-width: 300px; margin-right: 3.4vw; top: 20vh!important;">
                    <q-card-section class="row items-center q-pb-none">
                        <div style="white-space: pre-wrap;" class="text-h6">
                            {{ SettingsTitle }}
                        </div>
                        <q-space></q-space>
                        <q-btn icon="close" flat round dense v-close-popup></q-btn>
                    </q-card-section>

                    <q-card-section style="padding-top: 0px;">
                        <q-toggle v-model="audioplay" size="lg" checked-icon="headset" keep-color color="togglecolor" label="Audio-track Enabled" unchecked-icon="headset_off" onclick="audiotoggle()"></q-toggle>
                        <div style="white-space: pre-wrap;" class="text-h7 text-weight-medium q-mb-md-d">
                            {{ AudioTrackDesc1 }}
                        </div>
                        <q-toggle v-model="secondap" size="lg" checked-icon="view_carousel" keep-color color="togglecolor" label="Auto-play Enabled" unchecked-icon="image"></q-toggle>
                        <div style="white-space: pre-wrap;" class="text-h7 text-weight-medium q-mb-md-d">
                            {{ AutoPlayDesc2 }}
                        </div>
                        <q-toggle v-model="playvideo" size="lg" checked-icon="play_arrow" keep-color color="togglecolor" label="Play-video Enabled" unchecked-icon="play_disabled" onclick="videotoggle()"></q-toggle>
                        <div style="white-space: pre-wrap;" class="text-h7 text-weight-medium q-mb-md-d">
                            {{ PlayVideoDesc3 }}
                        </div>
                    </q-card-section>
                </q-card>
            </q-dialog>
        </div>
    </body>
</html>
