@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}
    src: url("../BarlowCondensed.ttf");

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: transparent;
}

.chat-window {
  position: absolute;
  left: 15px;
  width: 32vw;
  height: 25vh;
  background-color: rgba(255, 255, 255, 0);
  top: 5vh;
  -webkit-animation-duration: 2s;
}

.chat-messages {
  max-height: 100%;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}


.chat-input {
  font-size: 0.9rem;
  position: absolute;
  top: 27vh;
  left: 15px;
  width: 28vw;
  box-sizing: border-box;
}

textarea {
  font-family: sans-serif!important;
  font-size: 1.4vh;
  display: block;
  box-sizing: border-box;
  padding: 0.3vw;
  text-indent: .5vh;
  color: #ffffff;
  background-color: #2f3640b6;
  width: 80%;
  min-height: 3vh;
  max-height: 3vh;
  border: 1px solid #333b46;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

textarea:focus, input:focus {
    outline: none;
}

.msg {
  margin-bottom: 5px;
}

.suggestions {
  list-style-type: none;
  padding: 5px;
  padding-left: 27px;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: white;
  background-color: #2f3640b6;
  border: 1px solid #333b46;
  width: 80%;
}

.help {
  margin-top: -10px;
  color: #ffffffe7;
}

.disabled {
  margin-top: -10px;
  color: #ffffff93;
}

.suggestion {
  margin-bottom: 5px;
  color: #ffffffec;
}

.chat-message {
  display: inline-block !important;
  padding: 0.65vw;
  margin: 0.2vw;
  border-radius: .8vh;
  background-color: rgba(47, 114, 181, 0.9);
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
}

.chat-message-body {
  /*margin-top: 10px;*/
}

.chat-message.advert {
  background-color: rgba(47, 92, 115, 0.8);
}

.warning {
  background-color: rgba(255, 136, 0, 0.8);
}

.normal {
  background-color: rgba(47, 114, 181, 0.9);
}

.error {
  background-color: rgba(191, 36, 36, 0.9);
}

.chat-message.system {
  background-color: rgb(67, 57, 111);
}

.chat-message.emergency {
  background-color: rgba(224, 50, 50, 0.8);
}

.chat-message.nonemergency {
  background-color: rgba(112, 25, 25, 0.8);
}

.chat-message.report {
  background-color: rgba(86, 173, 10, 0.8);
}