#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 7 
set steam_webApiKey "none"
sets tags "default, deployer, qbcore, qb-core, Project-Phoenix"

## You MAY edit the following:
sv_licenseKey ""
sv_hostname "ProjectPhoenix built with QBCore Framework by JericoFx & Kakarot & Hamy!"
sets sv_projectName "[QBCore Framework] Project Phoenix"
sets sv_projectDesc "An advanced FiveM RP framework including jobs, gangs, housing & more!"
sets locale "en-US"
load_server_icon myLogo.png
set sv_enforceGameBuild 2802

#MSQL
set mysql_connection_string "mysql://root@localhost/ProjectPhoenix"
set mysql_slow_query_warning 800
set mysql_debug false
set mysql_ui false

# Voice config
setr voice_useNativeAudio 1
setr voice_useSendingRangeOnly 1
setr voice_debugMode 1
setr voice_zoneRadius 300
# setr voice_use3dAudio “true”
setr voice_enableUi 1
setr voice_enableProximityCycle 1
setr voice_enableRadios 1
setr voice_enablePhones 1
setr voice_defaultVolume 1
setr voice_enableSubmix 1
setr voice_defaultCycle "`"
setr voice_defaultRadio "CAPS"
setr voice_defaultRadio "19"
setr voice_syncData 1
setr voice_enableRadioAnim 1

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget true

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

#-----------------------------#
# [EN] Nested configs!
exec resources.cfg
#-----------------------------#

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:16897 group.admin #VultureScripts

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands

# ox-lib
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow
