@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

h1 {
    font-weight: normal;
    color: white;
}

div.info {
    margin: 10px 0;
}

div.info * {
    color: white;
}

#icons {
    display: none;
    filter:url(#drop-shadow);
}

.container {
    position: absolute;
    left: 1000px;
}

#vehicle {
    fill: white;
}


div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
}

svg.icons {
    display: none;
    filter:url(#drop-shadow);
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: .1s;
    transition-timing-function: ease-out;
}

svg.menu.inner {
    transform: scale(1.0) rotate(-10deg);
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    opacity: 0;
    visibility: hidden;
}

svg.menu > g > path {
    fill: #00000080;
    transition: 0.3s;
}

svg.menu > g.sector > path {
    cursor: pointer;
}

svg.menu > g.sector > text,
svg.menu > g.sector > use {
    font-family: 'Roboto';
    font-weight: 520px;
    margin-top: 10px;
    font-size: 3.6px;
    text-transform: uppercase;
    cursor: pointer;
    fill: white;
}

svg.menu > g.sector:hover > path {
    fill: #2D98DA;
    fill-opacity: 0.6;
}

svg.menu > g.center:hover > circle {
    fill: #2D98DA;
    fill-opacity: 0.6;
}

svg.menu > g.center > circle {
    cursor: pointer;
    fill: #00000080;
    fill-opacity: 0.2s;
}

svg.menu > g.center > text,
svg.menu > g.center > use {
    margin-top: 5px;
    font-size: 2.5px;
    cursor: pointer;
    fill: white;
}