@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.scoreboard-block {
  display: none;
  border-radius: 2vh;
  position: absolute;
  height: fit-content;
  width: 40vh;
  background-color: rgb(23 23 23 / 80%);
  right: 3vh;
  top: 30vh;
  margin: 1vh;
}

.scoreboard-header {
  border-radius: 1vh;
  position: relative;
  width: 92%;
  height: 5vh;
  margin: 1.7vh 1.3vh 0vh 1.7vh;
  background: #dc143c;
}

.scoreboard-header > p {
  text-align: center;
  font-weight: bold;
  color: #ededed;
  padding: 1.3vh;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5vh;
}
#status-tab-label {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  right: 3vh;
  font-weight: bold;
}

.info-beam-title {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3vh;
  letter-spacing: 0.1vh;
  left: 2.7vh;
  line-height: 4vh;
  font-weight: bold;
  color: #ededed;
}

.info-beam-title-players {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3vh;
  letter-spacing: 0.1vh;
  left: 2.4vh;
  line-height: 4vh;
  font-weight: bold;
  color: #ededed;
}

.info-beam-status {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  right: 3vh;
  float: left;
  text-align: left;
  line-height: 4.25vh;
}

.scoreboard-info-beam {
  margin-top: .3vh;
  position: relative;
  height: 4.25vh;
  width: 100%;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.fa-times {
  color: #dc143c;
}

.fa-check {
  color: #28a745;
}

.fa-clock {
  color: #2873a7;
}
