body {
    /*background-color: transparent;*/
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*opacity: 0.0;*/
}
.container {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 375px;
    height: 210px;
    border-radius: 20px;
    background-color: #1e1e1eeb;
    border: 2px solid #c4c4c4;
}
.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 5px;
    box-sizing: border-box;
    padding: 20px;
}
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: 90px;
    border-radius: 20px;
    opacity: 0.25;
    filter: contrast(25%);
}
.slot {
    background-color: #000000;
    margin: auto;
    border-radius: 10px;
}
img {
    width: 50px;
    height: 50px;
    align-self: center;
}