body {
    background: none;
    overflow: hidden;
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    color: #AFAFAF;
}

.bodycam{
    display: none;
    position: relative;
}

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.top-right {
    float: right;
    width: auto;
    text-align: right;
}

.top-right-container {
    float: right;
    width: auto;
    text-align: right;
    /* edit the fourth value of the next line to change opacity */
    /* 0.0 is clear, 1.0 is completely opaque                   */
    background-color: rgba(0, 0, 0, 0.596);
    padding: 5px;
    margin: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.container {
    width: 100wh;
    height: 100vh;
}

.logo {
    padding-top: 3px!important
}

#job {
    padding-right: 15px;
}

.tarih {
    margin-right: 7%!important;
}

#lspdtext{
    display: inline;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 4vh;
        letter-spacing: 2.6px;
        word-spacing: 6px;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: italic;
        font-variant: normal;
        text-transform: uppercase;
}

.tablet{
    /* background-color: rgb(0, 0, 0); */
    display: none;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 800px;
    margin: auto;
    margin-top: 10vh;
    border: rgb(39, 39, 39) 2vh solid;
    border-radius: 20px;

}

.page{
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 1s linear; 
}

.fixedhd{
    position: sticky;  top: 0; z-index: 1; 
}


table  { border-collapse: collapse; width: 100%;  transition: all 1s linear; }

.recordStream{
    display: none;
    margin-top: 2vh;
}

.records{
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
  }