@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

body {
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    top: 0;
    padding: 0;
    margin: 0;
}

.container {
  height: 105vh;
  display:none;
}

.radio-container {
  position: absolute;
  /* bottom: -56vh; */
  right: -1vh;
}

.radio {
  width: 21.5vh;
  left: 10vh;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#submit {
  position: absolute;
  width: 1.75vh;
  height: 3.9vh;
  bottom: 26.8vh;
  left: 11.5vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#submit:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgb(255 0 0 / 0%);
  padding:2px;
}

#disconnect {
  position: absolute;
  width: 1.75vh;
  height: 3.9vh;
  bottom: 26.8vh;
  left: 13.5vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#disconnect:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgba(0, 0, 0, 0);
  padding:2px;
}

#volumeUp {
  position: absolute;
  width: 1.5vh;
  height: 4.0vh;
  bottom: 19vh;
  left: 42.5px;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#volumeUp:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgba(0, 0, 0, 0);
  padding:2px;
}

#volumeDown {
  position: absolute;
  width: 1.5vh;
  height: 4.0vh;
  bottom: 15vh;
  left: 3.5vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#volumeDown:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgba(0, 0, 0, 0);
  padding:2px;
}

#increaseradiochannel {
  position: absolute;
  width: 1.5vh;
  height: 1.9vh;
  bottom: 12.2vh;
  left: 7.7vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#increaseradiochannel:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgba(0, 0, 0, 0);
  padding:2px;
}

#decreaseradiochannel {
  position: absolute;
  width: 1.5vh;
  height: 1.9vh;
  bottom: 12.2vh;
  left: 12.5vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#decreaseradiochannel:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgba(0, 0, 0, 0);
  padding:2px;
}

#poweredOff {
  position: absolute;
  width: 3.5vh;
  height: 2.9vh;
  bottom: 16.5vh;
  left: 25vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#poweredOff:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgba(0, 0, 0, 0);
  padding:2px;
}

.onoff button {
  padding: 40px 55px;
  opacity: .0;
}

.channel {
  position: absolute;
  bottom: 18vh;
  left: 6.2vh;
  background: none;
}


::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.863);
}

.channel span {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.channel input {
  text-align: center;
  border: none;
  font-size: 24px;
  background: none;
  outline: none;
  font-family: 'Fira Code', monospace;
  width: 5vw;
  color: white;
}

::-webkit-inner-spin-button {
  display: none;
}