body {
    background: none !important;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b2027;
    height: 40px;
    width: 130px;
}

#child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}